{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    <p>Phone {{ mymember.phone }}</p>
    <p>Member since: {{ mymember.joined_date }}</p>

    <div>
        <img src="/{{ photos.image }}" alt="{{ photos.description }}"  width="200" height="200">
        <p>{{ photos.description }}</p>
    </div>

   <ul> <li onclick="window.location = '/members/'">← Back</li></ul>
  </div>
{% endblock %}

