{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    <p>Phone {{ mymember.phone }}</p>
    <p>Member since: {{ mymember.joined_date }}</p>
  <h2>HTML Image</h2>
<img src="https://www.w3schools.com/html/img_girl.jpg" alt="Girl in a jacket" width="200" height="200">
   <ul> <li onclick="window.location = '/members/'">← Back</li></ul>
  </div>
{% endblock %}

