{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>
{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOL" %}

{% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %}

<p>In views.py you can see what the fruits variable looks like.</p>
<h1>Template Variables</h1>
<h2> Hello {{ firstname }}, how are you?</h2>

{% with firstname="Tobias" %}
<h1>Hello {{ firstname }}, how are you?</h1>

{% endwith %}

<h1>Django QuerySet</h1>

<table border='1'>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
          <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
      </tr>
    {% endfor %}
  </table>

<!--
  {% for x in mymembers %}
  <p>{{ x }}</p>
{% endfor %}
-->
</body>
</html>